/* Contenedor */
.note-list {
    background-color: #2C2C2C;
    color: white;
    width: 300px;
    height: 100vh;
}

/* Encabezado */
.note-list-head {
    padding: 10px;
    border-bottom: 1px solid #444;
}

/* Botones */
.sidebar-toggle-btn, .add-note-btn {
    background-color: transparent;
    border: none;
}

/* Título */
.note-list-title {
    font-size: 18px;
}

/* Barra de búsqueda */
.search-group {
    padding: 10px;
}

.search-control {
    background-color: #444; 
    color:white; 
    border:none; 
    padding-left :5px; 
}

.search-btn i{
   color:#888
}

/* Elementos de notas */
.note-items .note-item{
   padding :10px; 
   border-bottom :1px solid #444
}


.sub-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .subtittle {
    margin: 0; 
  }
  
  .add {
    display: flex;
    gap: 10px;
  }
  
  .add button {
    background-color: #d6cde6; 
    color: #fff; 
    transition: background-color 0.3s; 
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
  }
  
  .add button:hover {
    background-color: #593399; 
    cursor: pointer;
  }

  button {
    border: none;
    border-radius: 5px;
    padding: 5px;
  }

  .sub-container {
    margin-bottom: 20px; 
  }
  
  .mat-elevation-z8 {
    margin-top: 20px; 
  }