<!--<div class="note-list">
    <button class="btn-new" (click)="redirectToNote()">+</button>

    <div class="note-list-head flex items-center justify-between">
      <button type="button" class="sidebar-toggle-btn">
        <i class="bi bi-list"></i>
      </button>
      <div class="note-list-title">All Notes</div>
      <button type="button" class="add-note-btn text-white">
        <i class="bi bi-plus"></i>
      </button>
    </div>
    <div class="note-list-search">
      <div class="search-group flex items-center">
        <div type="submit" class="search-btn text-gray">
          <i class="bi bi-search"></i>
        </div>
        <input type="text" class="search-control w-full" placeholder="Search all notes and tags" />
      </div>
    </div>
  
    <div class="note-list-main">
      <div class="note-items">
  
        <div *ngFor="let note of notes" class="note-item">
          <div class="note-item-title">{{note.title}}</div>
          <p class="note-item-text">{{note.content}}</p>
        </div>

      </div>
    </div>
  
  </div>
-->

<div class="sub-container">
  <div class="subtittle">
    <h2 class="note" appTituloEstilo>Notes</h2>
  </div>
  <div class="add">
    <button mat-raised-button (click)="redirectToNote()">Add Note</button>
  </div>
</div>

<div class="mat-elevation-z8" style="width: 80%; margin-left: 10%; margin-bottom: 2%;">
  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource">

    <!-- Columna Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Columna Content -->
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>

  <!-- Columna Tags -->
<ng-container matColumnDef="tags">
  <th mat-header-cell *matHeaderCellDef> Tags </th>
  <td mat-cell *matCellDef="let element">
    <div *ngIf="element.tags && element.tags.length > 0">
      <p *ngFor="let tag of element.tags" class="note-item-tags">
        Tag: {{ tag }}
      </p>
    </div>
  </td>
</ng-container>

    

 <!-- Columna Acciones -->
<ng-container matColumnDef="archive">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element">
    <button mat-icon-button matTooltip="Archivar" (click)="archiveNoteById(element.id)">
      <mat-icon>archive</mat-icon>
    </button>
  </td>
</ng-container>

<!-- Nueva Columna Acciones para Editar y Dar de Baja -->
<ng-container matColumnDef="acciones">
  <th mat-header-cell *matHeaderCellDef></th>
  <td mat-cell *matCellDef="let element; let i = index;" style="text-align: right;">
    <a class="pointer" matTooltip="Modificar" style="color: #4a2885;">
      <mat-icon>edit</mat-icon>
    </a>
    <a class="pointer" matTooltip="Dar de Baja" style="color: #4a2885;">
      <mat-icon>delete</mat-icon>
    </a>
  </td>
</ng-container>
  

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No hay notas</td>
    </tr>

  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons aria-label="Selecciona cantidad de elementos">
  </mat-paginator>
</div>
