<div mat-dialog-content>
    <div class="container">
        <form [formGroup]="editNoteForm">
      
          <label for="title">Título:</label>
          <input type="text" id="title" name="title" required formControlName="title">
      
          <label for="content">Contenido:</label>
          <textarea id="content" name="content" required formControlName="content"></textarea>
          
      
          <button type="submit" (click)="editNote()">Update</button>
        </form>
        <a routerLink="/">Volver a la Lista</a>
      </div>
      

</div>
